$header-height: 50px;
$toolbal-height: 50px;
$formula-height: 26px;
$border-color: #747775;
$button-active-color: #20ad4f;
$info-cell-width: 42px;
$row-height: 24px;
$cell-width: 120px;
$dashboard-header-height: 64px;