@import 'variables';
@import 'mixins';

.excel__header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: $header-height;
  padding: 8px 4px;
  display: flex;
  justify-content: space-between;

  .header__block-logo {
    height: 34px;
    display: flex;
    gap: 10px;
    align-items: center;
  }

  .header__image {
    width: 30px;
    height: 30px;
  }

  .header__input {
    margin: 0;
    padding: 2px 7px;
    color: black;
    border: 1px solid transparent;
    border-radius: 2px;
    height: 20px;
    min-width: 1px;
    font-size: 18px;
    line-height: 22px;
    outline: none;

    &:hover {
      border: 1px solid $border-color;
    }

    &:focus {
      border: 2px solid #0b57d0;
    }
  }

  .header__buttons {
    margin-right: 20px;
  }

  .button {
    @include button($button-active-color);
  }

  @media (max-width: 363px) {
    .header__buttons {
      margin: 0;
    }

    .header__input {
      width: 180px;
    }
  }
}
